atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cycler==0.10.0
Grank==0.0.23
idna==2.7
kiwisolver==1.0.1
matplotlib==3.0.0
more-itertools==4.3.0
numpy==1.15.2
pandas==0.23.4
pluggy==0.7.1
py==1.6.0
pyparsing==2.2.2
pytest==3.8.2
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23