apipkg==1.5
atomicwrites==1.3.0
attrs==18.2.0
bleach==3.1.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cmarkgfm==0.4.2
coverage==5.0.1
cycler==0.10.0
docutils==0.14
execnet==1.6.0
future==0.17.1
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.0
more-itertools==7.0.0
numpy==1.16.4
pandas==0.24.2
pep8==1.7.1
pkginfo==1.5.0.1
pluggy==0.12.0
py==1.7.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.4.1
pyparsing==2.3.0
pytest==6.0.2
pytest-cache==1.0
pytest-cov==2.7.1
pytest-flakes==4.0.0
pytest-mock==1.10.4
pytest-pep8==1.0.6
python-dateutil==2.7.5
pytz==2018.5
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.32.2
twine==1.13.0
urllib3==1.25.3
webencodings==0.5.1
